<div class="container">
  <div class="row">
    <div class="col">
      <h6>Delete Business</h6>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p class="text-center py-3">Are you sure you want to delete Web development?</p>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <button mat-stroked-button color="warn" [mat-dialog-close]="true">Close</button>
    </div>
    <div class="col d-flex justify-content-center">
        <button mat-raised-button color="warn">Delete</button>
      </div>
  </div>
</div>