<mat-card>
  <mat-card-title>
    <div class="container">
      <div class="row">
        <div class="col px-0">
          <small class="text-truncate w-100">{{ item?.name }}</small>
        </div>
        <div class="col px-0 d-flex justify-content-end">
          <button class="btn text-success" (click)="openCreateModal()"><i class="fas fa-pen"></i></button>
          <button class="btn text-danger" (click)="deleteModal(item?.id)"><i class="far fa-times-circle"></i></button>
        </div>
      </div>
    </div>
  </mat-card-title>
  <div class="overflow-hidden" style="max-height: 200px">
    <img mat-card-image src="assets/img/lion.png">
    <!-- Carousel -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" *ngFor="let item of item?.imageUrl">
          <img class="d-block w-100" [src]="item" alt="Business Image">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col px-0">
          <p class="text-justify mt-3">
            {{ item?.description }}
          </p>

          <p>
            <i class="fas fa-link mr-3"></i>
            <a href="{{item?.website}}">{{ item?.website }}</a>
          </p>

          <p>
            <i class="far fa-envelope mr-3"></i>
            <a href="mailto:{{item?.email}}">{{ item?.email }}</a>
          </p>

          <p>
            <i class="fas fa-phone fa-flip-horizontal mr-3"></i>
            <a href="tel:{{item?.phone}}">{{item?.phone}}</a>
          </p>
          <p>
            <i class="fas fa-map-marker-alt mr-3"></i>
            <span>{{item?.location}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-end">
          <p class="mt-1 mr-2">Views</p>
          <mat-chip-list class="text-center">
            <mat-chip class="d-inline" color="accent" selected>{{ item?.views }}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </mat-card-content>

  <!-- <mat-card-footer class="pb-3">
    <hr>
    <div class="container">
      <p class="text-grey">Categories</p>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <mat-chip-list class="text-center">
            <mat-chip class="d-inline">Software development</mat-chip>
            <mat-chip class="d-inline">Web design</mat-chip>
            <mat-chip class="d-inline">Dal</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </mat-card-footer> -->
</mat-card>