<!-- Jumbotron and Serch -->
<div class="container-fluid">
    <div class="row">
        <div class="col px-0">
            <div class="bg_image" style="height: 70vh;">
                <!-- Jumbotron -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- Business website-->
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        <!-- Search field -->
                        <form [formGroup]="businessSearchForm">
                            <mat-form-field class="w-100">
                                <input matInput type="text" [matAutocomplete]="auto" placeholder="Search for a Business"
                                    formControlName="businessSearch" name="businessSearch">
                            </mat-form-field>
                        </form>
                        <!-- Auto complete -->
                        <div class="position-absolute">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of searchTerm" [value]="option?.name">
                                    <a class="text-primary" routerLink="/business/{{option?.id}}">{{ option?.name }}</a>
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recent businesses -->
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h5>All businesses</h5>
        </div>
        <div class="col d-flex justify-content-end">
        </div>
    </div>
    <div class="row mt-4">
        <!-- A business card -->
        <div class="col-4 mt-3" *ngFor="let item of businesses">
            <mat-card class="mousePointer" routerLink="business/{{item?.id}}">
                <mat-card-title>
                    <div class="container">
                        <div class="row">
                            <div class="col px-0">
                                <small class="text-truncate w-100">{{ item?.name }}</small>
                            </div>
                        </div>
                    </div>
                </mat-card-title>
                <div class="overflow-hidden" style="max-height: 200px">
                    <!-- <img mat-card-image src="assets/img/lion.png"> -->
                    <!-- Carousel -->
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let item2 of item?.images; let i = index"
                                [ngClass]="{' active': i === 0}">
                                <img class="d-block w-100" [src]="item2?.imageUrl" alt="Business Image">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <mat-card-content>
                    <div class="container">
                        <div class="row">
                            <div class="col px-0">
                                <p class="text-justify mt-3">
                                    {{ item?.description }}
                                </p>
                                <p>
                                    <i class="fas fa-map-marker-alt mr-3"></i>
                                    <span>{{item?.location}}</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <p class="mt-1 mr-2">Views</p>
                                <mat-chip-list class="text-center">
                                    <mat-chip class="d-inline" color="accent" selected>{{ item?.views }}</mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>
                    </div>
                </mat-card-content>

                <!-- <mat-card-footer class="pb-3">
            <hr>
            <div class="container">
              <p class="text-grey">Categories</p>
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <mat-chip-list class="text-center">
                    <mat-chip class="d-inline">Software development</mat-chip>
                    <mat-chip class="d-inline">Web design</mat-chip>
                    <mat-chip class="d-inline">Dal</mat-chip>
                  </mat-chip-list>
                </div>
              </div>
            </div>
          </mat-card-footer> -->
            </mat-card>
        </div>
    </div>
</div>

<!-- hr -->

<hr>