<div class="container-fluid">
    <div class="row">
        <div class="col px-0">
            <div class="bg_image" style="height: 70vh;">
                <!-- Jumbotron -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- Business website-->
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        <!-- Search field -->
                        <mat-form-field class="w-100">
                            <input matInput type="text" [matAutocomplete]="auto" placeholder="Search for a Business"
                                [(ngModel)]="businessSearch" name="businessSearch" (keyup)="searchABusiness($event)">
                        </mat-form-field>
                        <!-- Auto complete -->
                        <div class="position-absolute">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of searchTerm" [value]="option?.email">
                                    {{0}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>