<div>
    <mat-toolbar class="pt-3 pb-1">
        <mat-toolbar-row>
            <div class="container-fluid justify-content-between w-100">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <div>
                            <img src="assets/img/lion.png" alt="Lion Image" width="30">
                        </div>
                        <span class="ml-2">Business Directory</span>
                    </div>

                    <div class="justify-content-end align-items-center">
                        <!-- <nav>
                                    <ul class="">
                                        <li><a class="text-primary" routerLink="/">Product Tour</a></li>
                                        <li><a class="text-primary" routerLink="/">Pricing</a></li>
                                        <li><a class="text-primary" routerLink="/">Contact</a></li>
                                    </ul>
                                </nav> -->
                    </div>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>