<div>
    <mat-toolbar class="pt-3 pb-1">
        <mat-toolbar-row>
            <div class="container-fluid justify-content-between w-100">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <div>
                            <img src="assets/img/lion.png" alt="Lion Image" width="30">
                        </div>
                        <span class="ml-2"><a class="btn text-black" routerLink="/">Business Directory</a></span>
                    </div>

                    <div class="justify-content-end align-items-center">
                        <button mat-raised-button color="primary" routerLink="/admin">Admin Login</button>
                    </div>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>