<div>
    <mat-toolbar class="container bg-black pt-3 pb-1">
        <mat-toolbar-row>
            <div class="justify-content-between w-100">
                <div class="align-items-center">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/" class="text-primary mousePointer">home</mat-icon>
                </div>
    
                <div class="justify-content-end align-items-center">
                    <nav>
                        <ul class="">
                            <li><a class="text-primary" routerLink="/">Product Tour</a></li>
                            <li><a class="text-primary" routerLink="/">Pricing</a></li>
                            <li><a class="text-primary" routerLink="/">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>