<div class="container">
  <div class="row">
    <div class="col">
      <mat-card class="py-5 my-5">
        <mat-card-title>
          {{ business?.name }}
        </mat-card-title>

        <hr>
        <mat-card-content>
          <div class="container mt-5">
            <div class="row d-flex justify-content-between">
              <div class="col-3">
                <div class="w-100" style="max-height: 320px !important; overflow: hidden;">
                  <img [src]="business?.images[0]?.imageUrl" class="w-100" alt="{{business?.name}} image">
                </div>
              </div>

              <!-- Business Meta -->
              <div class="col-8">
                <div class="container">
                  <div class="row">
                    <div class="col px-0">
                      <p class="font-weight-bold mb-0">Description</p>
                      <p class="text-justify px-3">
                        {{ business?.description }}
                      </p>

                      <p class="mt-4">
                        <i class="fas fa-link mr-3"></i>
                        <a href="{{business?.website}}">{{ business?.website }}</a>
                      </p>

                      <p>
                        <i class="far fa-envelope mr-3"></i>
                        <a href="mailto:{{business?.email}}">{{ business?.email }}</a>
                      </p>

                      <p>
                        <i class="fas fa-phone fa-flip-horizontal mr-3"></i>
                        <a href="tel:{{business?.phone}}">{{business?.phone}}</a>
                      </p>
                      <p>
                        <i class="fas fa-map-marker-alt mr-3"></i>
                        <span>{{business?.location}}</span>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="container">
                  <div class="row">
                    <div class="col px-0 d-flex justify-content-start">
                      <p class="mt-1 mr-2 font-weight-bold">Views</p>
                      <mat-chip-list class="text-center">
                        <mat-chip class="d-inline" color="accent" selected>{{ business?.views }}</mat-chip>
                      </mat-chip-list>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <mat-card-title *ngIf="business?.images?.length" class="mt-5">
              Business Images
            </mat-card-title>
            <div class="row mt-5">
              <div class="col-3" *ngFor="let item of business?.images">
                <div class="w-100" style="max-height: 200px !important; overflow: hidden;">
                  <img [src]="item?.imageUrl" class="w-100" alt="{{business?.name}} image">
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>