<div class="container px-0">
  <div class="row">
    <div class="col my-4">
      <h6>Create a Business</h6>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="businessForm" (ngSubmit)="create()">
        <!-- Business name-->
        <div class="container">
          <div class="row">
            <div class="col">
              <mat-form-field class="w-100" style="width: 500px !important">
                <input matInput type="text" placeholder="Business name" formControlName="name">
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Business description-->
        <div class="container">
          <div class="row">
            <div class="col">
              <mat-form-field class="w-100" style="width: 500px !important">
                <textarea matInput placeholder="Business description" formControlName="description"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Business Categories-->
        <div class="container">
          <div class="row">
            <div class="col">
              <mat-form-field class="w-100">
                <input matInput type="text" [matAutocomplete]="auto" placeholder="Enter category keyword"
                  formControlName="businessCategory">
              </mat-form-field>
              <!-- Auto complete -->
              <div class="position-absolute">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let res of searchTerm" [value]="res?.name" (click)="addCategory(res)">
                    {{res?.name}}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
          </div>
        </div>

        <!-- Selected Business Categories-->
        <div class="container">
          <div class="row">
            <div class="col">
              <mat-chip-list>
                <mat-chip *ngFor="let item of categories" color="primary" selected>
                  {{ item?.name }}
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>

        <!-- Business Email-->
        <div class="container mt-4">
          <div class="row">
            <div class="col">
              <mat-form-field class="w-100" style="width: 500px !important">
                <input matInput type="email" placeholder="Business email" formControlName="email">
              </mat-form-field>
            </div>
          </div>
        </div>

        <!-- Business Website -->
        <div class="container mt-4">
          <div class="row">
            <div class="col">
              <mat-form-field class="w-100" style="width: 500px !important">
                <input matInput type="text" placeholder="Business Website" formControlName="website">
              </mat-form-field>
            </div>
          </div>
        </div>

        <!-- Business phone number-->
        <div class="container">
          <div class="row">
            <div class="col">
              <mat-form-field class="w-100" style="width: 500px !important">
                <input matInput type="text" placeholder="Business Phone number" formControlName="phone">
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Business Address-->
        <div class="container">
          <div class="row">
            <div class="col">
              <mat-form-field class="w-100" style="width: 500px !important">
                <textarea matInput placeholder="Business Address" formControlName="address"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

        <!-- <hr class="mt-2"> -->
        <div class="container">
          <div class="row">
            <div class="col">
              <!-- Images Uploaded -->
              <app-image-upload [id]="0"></app-image-upload>
            </div>
          </div>
        </div>
        <!-- Submit button -->
        <div class="container mt-5">
          <div class="row">
            <div class="col d-flex justify-content-end">
              <button mat-raised-button color="primary" class="btn border-0 text-white w-100 py-2">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>