<div class="container-fluid mt-2">
  <!-- Socials -->
  <div class="justify-content-between">
    <div class="w-40">
      <nav>
        <ul>
          <li><a href="https://www.linkedin.com/in/isah-ohieku-b982a6164" class="text-primary" target="_blank"><i
                class="fab fa-linkedin-in fa-3x"></i></a></li>
          <li><a href="https://www.github.com/isahohieku" class="text-primary" target="_blank"><i
                class="fab fa-github fa-3x"></i></a></li>
          <li><a href="https://www.dribble.com/isahohieku" class="text-primary" target="_blank"><i
                class="fab fa-dribbble fa-3x"></i></a></li>
          <li><a href="https://www.behance.net/isahohiekufa98" class="text-primary" target="_blank"><i
                class="fab fa-behance fa-3x"></i></a></li>
        </ul>
      </nav>
    </div>
    <!-- Copyright -->
    <div style="padding-right: 50px;" class="align-items-center">
      <h5 class="text-right text-primary">&copy; {{ getYear() }} Isah Ohieku - Product tour</h5>
    </div>
  </div>
</div>