<div class="container mt-5">
  <div class="row">
    <div class="col">
      <input type="search" class="form-control w-100" placeholder="Enter keyword to search business">
    </div>
  </div>
</div>

<!-- Most recent header -->
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h5>Most recent businesses</h5>
    </div>
  </div>
</div>
<!-- Most recent body -->
<div class="container mt-3">
  <div class="row">
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <small>INITS Limited</small>
              </div>
            </div>
          </div>
        </mat-card-title>
        <div class="overflow-hidden" style="max-height: 200px">
          <img mat-card-image src="assets/img/lion.png">
        </div>
        <mat-card-footer class="pb-3">
          <hr>
          <div class="container">
            <p class="text-grey">Categories</p>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <mat-chip-list class="text-center">
                  <mat-chip class="d-inline">Software development</mat-chip>
                  <mat-chip class="d-inline">Web design</mat-chip>
                  <mat-chip class="d-inline">Dal</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <small>INITS Limited</small>
              </div>
            </div>
          </div>
        </mat-card-title>
        <div class="overflow-hidden" style="max-height: 200px">
          <img mat-card-image src="assets/img/lion.png">
        </div>
        <mat-card-footer class="pb-3">
          <hr>
          <div class="container">
            <p class="text-grey">Categories</p>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <mat-chip-list class="text-center">
                  <mat-chip class="d-inline">Software development</mat-chip>
                  <mat-chip class="d-inline">Web design</mat-chip>
                  <mat-chip class="d-inline">Dal</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <small>INITS Limited</small>
              </div>
            </div>
          </div>
        </mat-card-title>
        <div class="overflow-hidden" style="max-height: 200px">
          <img mat-card-image src="assets/img/lion.png">
        </div>
        <mat-card-footer class="pb-3">
          <hr>
          <div class="container">
            <p class="text-grey">Categories</p>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <mat-chip-list class="text-center">
                  <mat-chip class="d-inline">Software development</mat-chip>
                  <mat-chip class="d-inline">Web design</mat-chip>
                  <mat-chip class="d-inline">Dal</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>

<!-- View all -->
<div class="container mt-4">
  <div class="row">
    <div class="col justify-content-end d-flex">
      <mat-chip-list>
        <mat-chip color="primary" selected>
          <a class="btn text-white" routerLink="/app/businesses">View all</a>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>

<!-- Most views header -->
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h5>Most viewed businesses</h5>
    </div>
  </div>
</div>
<!-- Most views body -->
<div class="container mt-3">
  <div class="row">
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <small>INITS Limited</small>
              </div>
            </div>
          </div>
        </mat-card-title>
        <div class="overflow-hidden" style="max-height: 200px">
          <img mat-card-image src="assets/img/lion.png">
        </div>
        <mat-card-footer class="pb-3">
          <hr>
          <div class="container">
            <p class="text-grey">Categories</p>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <mat-chip-list class="text-center">
                  <mat-chip class="d-inline">Software development</mat-chip>
                  <mat-chip class="d-inline">Web design</mat-chip>
                  <mat-chip class="d-inline">Dal</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <small>INITS Limited</small>
              </div>
            </div>
          </div>
        </mat-card-title>
        <div class="overflow-hidden" style="max-height: 200px">
          <img mat-card-image src="assets/img/lion.png">
        </div>
        <mat-card-footer class="pb-3">
          <hr>
          <div class="container">
            <p class="text-grey">Categories</p>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <mat-chip-list class="text-center">
                  <mat-chip class="d-inline">Software development</mat-chip>
                  <mat-chip class="d-inline">Web design</mat-chip>
                  <mat-chip class="d-inline">Dal</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <small>INITS Limited</small>
              </div>
            </div>
          </div>
        </mat-card-title>
        <div class="overflow-hidden" style="max-height: 200px">
          <img mat-card-image src="assets/img/lion.png">
        </div>
        <mat-card-footer class="pb-3">
          <hr>
          <div class="container">
            <p class="text-grey">Categories</p>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <mat-chip-list class="text-center">
                  <mat-chip class="d-inline">Software development</mat-chip>
                  <mat-chip class="d-inline">Web design</mat-chip>
                  <mat-chip class="d-inline">Dal</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>

<!-- View all -->
<div class="container mt-4">
  <div class="row">
    <div class="col justify-content-end d-flex">
      <mat-chip-list>
        <mat-chip color="primary" selected>
          <a class="btn text-white" routerLink="/app/businesses">View all</a>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>