<div *ngFor="let image of productImages; let i = index"
  class="position-relative image_holder_width mr-4 d-inline-block">
  <app-product-image-upload-single class="position-relative" [title]="image?.title" [fileToUpload]="image?.file"
    [affirm]="image?.affirm" [id]="i" (remove)="removeImage($event)" (uploadStart)="uploadStarted(i)"
    (uploadEnd)="uploadEnded($event, i)" (binary)="binary($event, i)" (click)="toggleFileInput(i)">
  </app-product-image-upload-single>
  <input type="file" accept="image/*" hidden id="inputField{{id}}-{{i}}" (change)="uploadInitiated($event, i)" />

  <!-- Preview Image Modal -->
  <div class="cropper-wrapper">
    <div class="cropper-overlay"></div>
    <div class="cropper-window">
      <div>
        <img [src]="imagePreview" class="w-100" id="upload_demo" />
      </div>

      <div class="modal-footer">
        <div class="btn-group">
          <a class="common-btn	 unfill" data-dismiss="modal" (click)="removeActiveImage()"
            #closeModal>Cancel</a>
          <a class="common-btn upload-result" (click)="affirmImage()">Apply</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Remove Item -->
  <span class="remove-doc" (click)="removeImage(i)" *ngIf="image?.affirm"></span>
</div>