<div class="container mt-5">
  <div class="row">
    <div class="col">
      <input type="search" class="form-control w-100" placeholder="Enter keyword to search business">
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h5>All businesses</h5>
    </div>
    <div class="col d-flex justify-content-end">
      <button mat-fab color="primary" selected (click)="openCreateModal()"><i class="fas fa-plus"></i></button>
    </div>
  </div>
  <div class="row mt-4">
    <!-- A business card -->
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <small>INITS Limited</small>
              </div>
              <div class="col px-0 d-flex justify-content-end">
                <button class="btn text-success" (click)="openCreateModal()"><i class="fas fa-pen"></i></button>
                <button class="btn text-danger" (click)="deleteModal()"><i class="far fa-times-circle"></i></button>
              </div>
            </div>
          </div>
        </mat-card-title>
        <div class="overflow-hidden" style="max-height: 200px">
          <img mat-card-image src="assets/img/lion.png">
        </div>

        <mat-card-content>
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <p class="text-justify mt-3">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia cum dolorem officia consequuntur
                  tempore!
                </p>

                <p>
                  <i class="fas fa-link mr-3"></i>
                  <a href="www.inits.ng">www.inits.ng</a>
                </p>

                <p>
                  <i class="far fa-envelope mr-3"></i>
                  <a href="mailto:inits@email.com">inits@email.com</a>
                </p>

                <p>
                  <i class="fas fa-phone fa-flip-horizontal mr-3"></i>
                  <a href="tel:+1-555-555-1212">555-555-1212</a>
                </p>
                <p>
                  <i class="fas fa-map-marker-alt mr-3"></i>
                  <span>Yaba, Lagos</span>
                </p>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col d-flex justify-content-end">
                <p class="mt-1 mr-2">Views</p>
                <mat-chip-list class="text-center">
                  <mat-chip class="d-inline" color="accent" selected>100</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </mat-card-content>

        <mat-card-footer class="pb-3">
          <hr>
          <div class="container">
            <p class="text-grey">Categories</p>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <mat-chip-list class="text-center">
                  <mat-chip class="d-inline">Software development</mat-chip>
                  <mat-chip class="d-inline">Web design</mat-chip>
                  <mat-chip class="d-inline">Dal</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>