<div class="container mt-5">
  <div class="row">
    <div class="col">
      <input type="search" class="form-control w-100" placeholder="Enter keyword to search business">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <mat-card>
        <mat-card-title>INITS Limited</mat-card-title>
        <div class="overflow-hidden" style="max-height: 200px">
          <img mat-card-image src="assets/img/lion.png">
        </div>

        <mat-card-content>
          <div class="container">
            <div class="row">
              <div class="col">
                <p class="text-justify mt-3">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia cum dolorem officia consequuntur tempore!
                </p>
              </div>
            </div>
          </div>
        </mat-card-content>

        <mat-card-footer class="py-3">
          <hr>
          <div class="container">
            <p class="text-grey">Categories</p>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <mat-chip-list class="text-center">
                  <mat-chip class="d-inline">Software development</mat-chip>
                  <mat-chip class="d-inline">Web design</mat-chip>
                  <mat-chip class="d-inline">Dal</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>